link(href='/static/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
link(href='/static/css/main.css', rel='stylesheet')
script(src='/static/libs/jquery/dist/jquery.min.js')
script(src='/static/libs/bootstrap/dist/js/bootstrap.min.js')
script(src='/static/js/signup.js')
link(rel="shortcut icon",href="/favicon.ico",type="image/x-icon")
